<div class="popup mfp-hide" id="popup-application">
	<div class="form">
		<div class="form-name">
			Оставьте заявку <br>
			на участие <br>
			в контент-форуме
		</div>
		<form action="#" class="popup__form form-call" id="callform">
			<div class="input-cont">
				<input type="text" placeholder="Имя" name="name">
			</div>
			<div class="input-cont">
				<input type="email" placeholder="Email" name="email">
			</div>
			<div class="input-cont">
				<input type="tel" placeholder="Номер телефона" name="phone">
			</div>
			<div class="textarea-desc">
				Комментарий
			</div>
			<textarea name="text" id="textarea" cols="30" rows="4"></textarea>
			<input type="submit" class="btn btn-accent-alt btn-full" value="Отправить">
		</form>
	</div>
</div>