<div class="popup">
	<div class="popup__overlay"></div>
	<div class="popup__window">
		<div class="popup__close">
			<i class="fa fa-close"></i>
		</div>
		<a href="#" class="popup__logo">
			<img src="img/logo.png" alt="logo">
		</a>
		<div class="popup__desc">
				Мы перезвоним в ближайшее время
		</div>
		<form action="#" class="popup__form">
			<div class="input-cont">
				<input type="text" placeholder="Ваше имя">
			</div>
			<div class="input-cont">
				<input type="tel" placeholder="Ваш телефон">
			</div>
			<input type="submit" value="Жду звонка">
			<input type="checkbox" name="accept" id="accept">
			<label for="accept">Нажимая на кнопкцу вы соглашаетесь с обработкой персональных данных</label>
		</form>
	</div>
</div>