<header class="header">
	<div class="wrapper">
		<a href="#" class="header__logo">
			<img src="img/logo.png" alt="logo">
		</a>
		<div class="header__burger-cont">
			{{> small_parts/burger_with_anim}}
		</div>
		<div class="btn header__btn">Заказать</div>
		<ul class="header__menu">
			<li><a href="#">Пункт 1</a></li>
			<li><a href="#">Пункт 2</a></li>
			<li><a href="#">Пункт 3</a></li>
			<li><a href="#">Пункт 4</a></li>
		</ul>
	</div>
</header>