
{{> parts/head}}

<body>

	{{> parts/header}}
	
	<section class="section-1">
		<div class="wrapper">
			<div class="content">
				<div class="h1-desc">
					<h1 class="h1">Кроватка-Домик</h1>
					<p>Для сладких снов и интересных игр</p>
				</div>
			</div>
		</div>
	</section>

	{{> parts/footer}}

	{{!-- {{> small_parts/up_btn}} --}}
	{{!-- {{> small_parts/burger_with_anim}} --}}
	{{!-- {{> components/tabs tabsContent}} --}}
	{{!-- {{> components/popup}} --}}

	{{> parts/scripts}}

</body>
</html>
