{{> parts/head}}

<body>


  <div class="wrapper">
    <h1 class="h1">Header 1</h1>
    <h2 class="h2">Header 2</h2>
    <h3 class="h3">Header 3</h3>
    <div class="h1-desc">
      <h1 class="h1">Header 1</h1>
      <p>Description</p>
    </div>
    <div class="h2-desc">
      <h2 class="h2">Header 2</h2>
      <p>Description</p>
    </div>
  </div>


  {{!-- {{> small_parts/up_btn}} --}}
  {{!-- {{> small_parts/burger_with_anim}} --}}
  {{!-- {{> components/tabs tabsContent}} --}}
  {{!-- {{> components/popup}} --}}

</body>

</html>