//Main text colr
$c-text: #191a1c
$c-text-white: #fff

//Button color + Hover color
$c-btn: #bdbdbd
$c-btnh: #e9b217

$c-header: green
$c-footer: #2d2a25

//top-line-bg
$c-top-line: #222

$r: "roboto-example"
