$c-a: #358e52
$c-link: $c-a
$c-link-h: $c-a
$c-border: #4cb76f

// $c-a-hover: blue

//main Font size
$f-size: 14px

//Main text color
$c-text: #000
$c-text-white: #fff

//Button color + Hover color
$c-btn: orange
$c-btnh: #e9b217
$c-burger-c: #fff

//top-line-bg
$c-top-line: #eef7f1

$c-header: green
$c-footer: $c-top-line

//icons-color
$c-icon: #000
$c-icon-plus-text: #orange

//Input-placeholder-color
$c-placeholder: #666

$r: "roboto-example"
