//Colors
$c-btn: #bdbdbd
$c-btnh: #e9b217
$c-text: #191a1c
$c-footer: #2d2a25
$c-point: #707070

$r: "roboto-example"
$b: "JuraBold"
$m: "JuraMedium"
$i: "PTSansItalic"

$m-r: "MuseoSansRegular"
$m-l: "MuseoSansLight"
$m-b: "MuseoSansBlack"
$m-bo: "MuseoSansBold"
$m-i: "PTSerifItalic"
$m-m: "MuseoSansMedium"
