@import "fonts"
@import "vars"

@import "_mixins/media-mix"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: $f-size
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $r
	overflow-x: hidden
	opacity: 1

.img-fluid
	display: block
	max-width: 100%
	height: auto

textarea:focus, 
input:focus
    outline: none

.a:active, 
.a:focus 
	outline: none

a 
	outline: none
	color: $c-link
	&:hover,
	&:focus
		text-decoration: none
		color: $c-link-h
		
ul
	list-style-type: none
	margin: 0
	padding: 0
	li
		margin: 0
		padding: 0

.accent
	color: $c-a

.btn
	display: inline-block
	background-color: $c-btn
	line-height: 1.65
	text-transform: uppercase
	color: #FFFFFF
	font-size: $f-size
	text-align: center
	border-radius: 0
	font-weight: 700
	// border: 3px $c-btn solid
	padding: 0px 20px 0px
	transition: background-color 0.4s
	&:hover,
	&:active,
	&:focus
		color: #000
		background-color: $c-btnh

.top-line
	background-color: $c-top-line
	height: 40px


// @import "_headers/polies"

//Бургер с анимацией
// @import "_small_parts/burger_with_anim"

//Кнопка наверх
// @import "_small_parts/up_btn"
