@import "fonts"
@import "vars"

@import "_mixins/media-mix"

*::-webkit-input-placeholder
	color: $c-placeholder
	opacity: 1
*:-moz-placeholder
	color: $c-placeholder
	opacity: 1
*::-moz-placeholder
	color: $c-placeholder
	opacity: 1
*:-ms-input-placeholder
	color: $c-placeholder
	opacity: 1
input:-moz-placeholder
	color: $c-placeholder
	opacity: 1
input::placeholder
	color: $c-placeholder
	opacity: 1
body input:required:valid
	color: $c-placeholder
	opacity: 1
body textarea:required:valid
	color: $c-placeholder
	opacity: 1
body input:focus:required:invalid
	opacity: 1
	border-color: $c-red
body textarea:focus:required:invalid
	opacity: 1
	border-color: $c-red
// .checkbox-container input:invalid + label .checkbox-ovelay
// 	border-color: $c-red

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance: none
	margin: 0

input[type="number"]
	-moz-appearance: textfield

input[type="number"]:hover,
input[type="number"]:focus
	-moz-appearance: textfield

html, body
	height: 100%

body
	font-size: $f-size
	line-height: 20px
	min-width: 320px
	position: relative
	font-family: $r
	overflow-x: hidden
	opacity: 1

textarea
	resize: none
		
textarea:focus, 
input:focus
    outline: none

a 
	outline: none
	color: $c-link
	&:hover,
	&:focus
		text-decoration: underline
		color: $c-link-h
		
ul
	list-style-type: none
	margin: 0
	padding: 0
	li
		margin: 0
		padding: 0

.img-fluid
	display: block
	width: 100%
	height: auto

.accent
	color: $c-a

.wrapper
	margin: 0 auto
	padding: 0 15px
	@media (min-width: 820px)
		width: 820px
		padding: 0 20px
	@media (min-width: 1200px)
		width: 1200px
		padding: 0 30px

.btn
	display: inline-block
	background-color: $c-a
	line-height: normal
	color: #000
	font-size: 16px
	text-align: center
	border-radius: 0
	font-weight: 400
	padding: 13px 39px 13px
	transition: background-color 0.4s, border-color 0.4s
	text-transform: none
	border: 1px solid $c-a
	cursor: pointer
	&:hover,
	&:active,
	&:focus
		background-color: $c-a-d
		border-color: $c-a-d
	&.btn-outline
		background: #ffffff
		&:hover,
		&:active,
		&:focus
			background-color: $c-a
			border-color: $c-a
	&.btn-full
		width: 100%
	&.btn-small
		padding: 8px 16px 8px
		font-size: 14px
		line-height: 16px
	&.btn-big
		padding-left: 63px
		padding-right: 63px
		

.h1
	font-weight: 700
	font-size: 32px
	line-height: normal
	margin-bottom: 30px

.h2
	font-size: 20px
	line-height: 26px
	font-weight: 700
	margin-bottom: 16px

.h3
	font-size: 18px
	line-height: 23px
	font-weight: 500

// Custom select
/*the container must be positioned relative:*/
.custom-select
	position: relative
	text-align: left

.custom-select select
	display: none //hide original SELECT element


.select-selected:after
	position: absolute
	content: ""
	top: 17px
	right: 10px
	width: 0
	height: 0
	border: 6px solid transparent
	border-color: $c-border transparent transparent transparent

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after
	top: 10px
	border-color: transparent transparent $c-border transparent

/*style the items (options), including the selected item:*/
.select-items div
	color: $c-text
	padding: 16px 8px 0px
	cursor: pointer

.select-selected 
	color: $c-text
	padding: 10px 8px 6px
	border: 1px solid transparent
	// border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent
	cursor: pointer
	
.select-selected
	background-color: transparent
	border: 1px solid $c-border
	height: 40px
	&.init
		color: $c-border

/*style items (options):*/
.select-items 
	position: absolute
	background-color: white
	border: 1px solid $c-border
	top: 100%
	left: 0
	right: 0
	z-index: 99
	border-top: none
	padding-bottom: 16px

/*hide the items when the select box is closed:*/
.select-hide
	display: none

.select-items div:hover, .same-as-selected
	color: $c-link
	// background-color: rgba(0, 0, 0, 0.1)


@import "sections"

//Бургер с анимацией
@import "_small_parts/burger_with_anim"

